html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 95% "Helvetica", sans-serif;
}

#map {
    height: 100%;
}

.map-search {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    line-height: 140%;
    color: #333;
}

.map-search .title {
    margin-top: 0;
}

.map-search-autocomplete {
    padding: 10px;
    font: inherit;
    width: 100%;
    box-sizing: border-box;
}

.map-marker-info {
    font: 1.1em "Helvetica", sans-serif;
    padding: 20px 20px 10px 20px;
}

#get_location {
    margin-bottom: 30px;
    margin-top: 15px;
}
